// main部分

//show専用 (like)
.likes-show-main-container {
  display: flex;
  width: 100vw;
  min-height: calc(100vh - 25px);
  background-color: #f8f8f8;
  padding-top: 50px;
}

.likes-show-out-content {
  display: flex;
  width: 80vw;
  // height: 88%;
  min-height: calc(100vh - 198px);
  background-color: #f8f8f8;
  // text-align: center;
}

.likes-show-out-content label {
  margin-bottom: 0;
}

.likes-show-in-content {
  width: 100%;
  // height: calc(100vh - 90px);
  min-height: 85vh;
  margin-top: 2vh;
  // margin-left: auto;
  // margin-right: auto;
  background-color: #fff;
}

.likes-show-top-content {
  margin-left: auto;
  margin-right: auto;
}

.block-c {
  width: 70%;
  // min-height: 20px;
  display: flex;
  // margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
}

.likes-show-bottom-out-content {
  margin-left: auto;
  margin-right: auto;
}

.likes-show-main-left-content {
  width: 40vw;
  // border: 1.5px solid #000;
  border-right: none;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.likes-show-main-left-up-content {
  min-height: 2vh;
  text-align: center;
  padding-top: 2vh;
}
.likes-show-main-left-up-content>h3 {
  font-weight: bold;
}

.like-img {
  width: 10vw;
  min-height: 20vh;
}

.like-pro-img {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}


.like-ul {
  background: #d0f7ed;
  list-style: none;
  border: 1px solid #000;
  border-radius: 4px;
  padding-left: 20px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.like-btn {
  display: flex;
}

// .like-btn-main-text {
//   text-decoration: none;
//   color: #000;
//   font-size: 24px;
// }

.like-btn-sub-text {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.like-show-btn {
  width: 30%;
  height: 24px;
  color: #f8f8f8;
  background-color: #55c500; 
  border: 1px solid #000;
  margin-left: auto;
  margin-right: 5%;
  border-radius: 5px;
  padding: 2px 4px;
  .like-show-btn-text {
    width: 100%;
    display: block;  //button全体にリンクがかかる
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #55c500;
    border: none;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    font-size: 12px;
    font-weight: bold;
  }
  .like-show-btn-text2 {
    width: 100%;
    display: block;  //button全体にリンクがかかる
    text-align: center;
    text-decoration: none;
    color: #55c500;
    background-color: #fff;
    border: none;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    font-size: 12px;
    font-weight: bold;
  }
}

// .icon-btn {
//   text-decoration: none;
//   color: #000;
// }

.icon-count{
  // font-weight: bold;
  // color: #000;
}
.icon-count>a {
  // text-decoration: none;
  font-weight: bold;
  color: #000;
}



.likes-show-main-left-first-content {
  min-height: 8vh;
  text-align: center;
  padding-top: 2vh;
}

.likes-show-main-left-second-content {
  min-height: 8vh;
  text-align: center;
  // padding-top: 2vh;
}



.likes-show-main-left-third-content {
  width: 98%;
  min-height: 20%;
  border: 1px solid #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.likes-show-main-left-under-content {
  min-height: 25%;
  padding: 2vh 1vw;
}

.likes-show-main-left-under-content table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.likes-show-main-left-under-content td {
  font-size: 16px;
  padding: 0.1vh 1vw;
}


.likes-show-main-right-content {
  width: 40vw;
  // border: 1.5px solid #000;
  background-color: #fff;
  margin: 2% 0px 0% 0px;
}

.like-content-2nd {
  display: flex;
}

.like-content-3rd {
  margin-right: 8px;
}






// /main部分
