<% @comment = comment  %>
<ul class='comment-ul' id="comment-content-<%= @comment.id %>">
  <li class='article-btn'>
    <div class="like-content-1st">
      <%= comment.user.nickname %>
      <%= comment.text %>
    </div>
  </li>
</ul>