// main部分

//edit専用 (user)

.user-edit-main-container {
  display: flex;
  width: 100vw;
  min-height: calc(100vh - 25px);
  background-color: #f8f8f8;
  padding-top: 50px;
}

.user-edit-out-content {
  display: flex;
  width: 80vw;
  // height: 88%;
  // min-height: calc(100vh - 198px);
  background-color: #f8f8f8;
  // text-align: center;
}

.user-edit-out-content label {
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 50%;
}

.user-edit-in-content {
  width: 100%;
  // height: calc(100vh - 90px);
  // min-height: 85vh;
  display: flex;
  // margin-top: 2vh;
  // margin-left: auto;
  // margin-right: auto;
  background-color: #fff;
}

.user-edit-main-left-content {
  width: 40vw;
  // border: 1.5px solid #000;
  border-right: none;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.user-edit-main-left-up-content {
  // height: 25vh;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.user-edit-main-left-up-content>h2{
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.edit-pro-img {
  display: block;
  // width: 16vw;
  // height: 20vh;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.image-list img{
  display: flex;
  background-color: #fff;
  border-radius: 50%;
} 

.user-edit-main-left-first-content {
  // height: 8vh;
  text-align: center;
  // padding-top: 2vh;
}

.user-edit-regist{
  display: block;
  margin-top: 2vh;
  // margin-bottom: 2vh;
}

/* profile descript 用 */
.user-edit-text-field{
  // display: block;
  width: 80%;
  height: 70px;
  text-align: left;
}

.user-edit-text-field>input{
  align-items: stretch;
}




.user-edit-main-left-second-content {
  // height: 8vh;
  text-align: center;
  // padding-top: 2vh;
}


.user-edit-main-left-third-content {
  width: 98%;
  // height: 20%;
  // border: 1px solid #000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.user-edit-btn {
  // width: 50%;
  width: 150px;
  color: #f8f8f8;
  background-color: #55c500; 
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 2px 4px;
  .user-edit-btn-text {
    width: 100%;
    display: block;  //button全体にリンクがかかる
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #55c500;
    border: none;
    margin-left: auto;
    margin-right: auto;
    outline: none;
  }
}

.user-edit-main-left-under-content {
  // height: 25%;
  padding: 2vh 1vw;
}

.user-edit-main-left-under-content table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.user-edit-main-left-under-content td {
  font-size: 16px;
  padding: 0.1vh 1vw;
}

.user-edit-main-right-content {
  width: 40vw;
  // border: 1.5px solid #000;
  background-color: #fff;
  margin: 2% 0px 0% 0px;
}


// /main部分
